

* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4em;
  color: white;
  font-weight: 400;
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
}


h5 {
  font-size: 20px;
  color: rgba(23, 39, 64, 1);
}

.header-nav {
  display: flex;
  flex-direction: row;
}

.heart:hover {
  color: gray;
}

a {
  text-decoration: none;
  color: white;
}

.nav-bar li {
  width: 30%;
  margin-right: 5%;
  padding: 1px;
}

.heart-text {
  position: relative;
  left: 10px;
  margin: auto 0;
  padding: 0 5px;
}

.header-search li {
  list-style-type: none;
  padding: 0 3px;
  display: inline-block;
  position: relative;
  top: 0px;
}

.header-search {
  position: relative;
  top: 5px;
  display: flex;
  flex-direction: row;
}

.sign-login {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 25px;
  top: 5px;
  margin-top: 0px;
  padding-left: 30px;
  font-size: 16px;
}

.search-button {
  color: white;
  background-color: rgba(40, 53, 70, 1);
  height: 25px;
}

.nav-links li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  left: 500px;
  padding: 0 15px;
}

#pricing li {
  line-height: 2;
}

.learn-more {
  font-weight: bold;
  color: white;
}

a.learn-more:hover {
  text-decoration: underline;
}

.npm-logo {
  height: 8%;
  width: 6%;
  margin: 0px 10px 0px 10px;
}

.bear-logo {
  height: 3%;
  width: 3%;
  position: relative;
  right: 10px;
}

.search-bar {
  width: 1000px;
  height: 30px;
  background-color: rgba(33, 83, 111, 1);
  border: 1px solid rgba(135, 184, 237, 0.5);
}

.header-bg {
  background-image: url("images/city-scape.svg");
}

.white-text {
  color: white;
}

span.red {
  color: red;
}

#pricing {
  background: rgba(23, 39, 64, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 50px 0 50px 0;
}

.position1 {
  position: relative;
  margin-left: 300px;
}

.pricing-img {
  width: 30%;
  height: 30%;
  padding-right: 50px;
  margin-left: 150px;
}

#npm-Enterprise {
  background-image: url("images/forklift.svg")
}

.col {
  float: left;
  text-align: center; /*optimizar, se repite con gray-text*/
  padding: 10px 0;
}

.col3 {
  width: 20%;
}

.col-middle {
  margin: 0 5%;
}

.col-left{
  margin-left: 15%
}

.col-right {
  margin-right: 15%
}

.gray-text {
  color: gray;
  text-align: center;
}

.clearfix {
  clear: both;
}

.blue-text {
  text-align: center;
  color: rgba(40, 53, 70, 1);
}

.padding-section {
  padding-top: 50px;
  padding-bottom: 100px;
}

.padding-header {
  padding-bottom: 100px;
}

.sign-btn {
  border-radius: 25px;
  border-width: 0;
  color: white;
  padding: 5px 15px;
}

.bg-blue {
  background-color: rgba(40, 53, 70, 1);
}

.bg-red {
  background-color: rgba(193, 36, 46, 1);  
}

.bg-orange {
  background-color: rgba(229, 146, 60, 1);
}


form.form button {
  float: right;
  width: 3%;
  height: 35px;
  padding: 8px;
  background: rgba(33, 83, 111, 1);
  color: rgba(111, 155, 180, 1);
  font-size: 16px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.form button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}